[{
        "id": "1",
        "que": "what is your first pet Name? ",
        "options": {
            "A": "Dog",
            "B": "Cat",
            "C": "cow",
            "D": "parrot"
        },
        "answer": "Dog"
    },
    {
        "id": "2",
        "que": "what is your first pet Name? ",
        "options": {
            "A": "Dog",
            "B": "Cat",
            "C": "cow",
            "D": "parrot"
        },
        "answer": "Cat"
    },
    {
        "id": "3",
        "que": "what is your first pet Name? ",
        "options": {
            "A": "Dog",
            "B": "Cat",
            "C": "cow",
            "D": "parrot"
        },
        "answer": "cow"
    },

]