<div class="pageGrid">
    <div class="workDetail">
        <div class="row" style="display:none"> 
            <div class="image-container">
                <figure>
                    <i class="fa fa-chevron-left" aria-hidden="true" style="font-size:18px;color:white;float:left;margin-top:-25%;margin-right:-13%;cursor:pointer"
                       ng-click="DetailVM.showLeftImage($event)">

                    </i>
                    <!--<img id="workImage" ng-src="ng-app/components/workDetail/partials/Images/{{DetailVM.projectName}}/1.png" 
                         onerror="this.style.display='none'">-->
                    <img ng-src="ng-app/components/workDetail/partials/Images/{{DetailVM.projectName}}/1.png">
                    <i class="fa fa-chevron-right" aria-hidden="true" style="font-size:18px;color:white;float:right;margin-top:-25%;margin-right:-13%;cursor:pointer"
                       ng-click="DetailVM.showRightImage($event)">

                    </i>
                </figure>
               
            </div>
        </div>
    
       <div class="row">
           <div class="card-panel">
               <div class="s12">

                   <div>
                       <i class="material-icons">description</i> 
                       <span class="label">
                   Project Overview:
                       </span>  {{DetailVM.projectDetail.detailed}}
                   </div>
                 
                   <div  ng-if="DetailVM.projectDetail.technology.Frontend">
                       <i class="material-icons">web</i>
                      <span class="label">Frontend:</span>{{DetailVM.projectDetail.technology.Frontend}}
                   </div>
                   <div ng-if="DetailVM.projectDetail.technology.BackEnd">
                       <i class="material-icons">tab</i> 
                     <span class="label"> BackEnd:</span>{{DetailVM.projectDetail.technology.BackEnd}}
                   </div>
                   <div  ng-if="DetailVM.projectDetail.technology.EnvironmentAndTools">
                       <i class="material-icons">settings</i>  
                       <span class="label">
                              Environment And Tools:
                       </span>{{DetailVM.projectDetail.technology.EnvironmentAndTools}}
                   </div>
                
                 
                
               </div>  
               
           </div>
       </div>
    </div>
</div>