<!--<div class="portfolio-item" ng-class="Parent.LayoutClass">
    <div class="like-btns-grid">
        
        <i class="material-icons" ng-click="portfoliosVM.setLike(portfolio)">thumb_up</i>
        <h6>{{portfoliosVM.getLikes(portfolio)}}</h6>

    </div>
    <img class="portfolio-img"  src="{{portfolio.favicon_image}}"/>
    <div class="portfolio-texts">
        <h4>{{portfolio.title}}</h4>
        
        <div class="long-text">
        <span><i class="material-icons">bookmark_border</i> 
            {{portfolio.tag}} </span>
            |<a href="{{portfolio.url_address}}" target="_blank" > 
            <i class="material-icons">link</i> {{portfolio.url_address}} </a>
        </div>
    </div>
    <div class="clearFloats"></div>
</div>-->

