
<script>
    function docLoaded() {
        var movementStrength = 25;
        var height = movementStrength / window.innerHeight;
        var width = movementStrength / window.innerWidth;
        document.body.addEventListener('mousemove', function (e) {
            var pageX = e.pageX - (window.innerWidth / 2);
            var pageY = e.pageY - (window.innerHeight / 2);
            var newvalueX = width * pageX * -1 - 25;
            var newvalueY = height * pageY * -1 - 50;
            var element = document.getElementById('designer-image');
            element.style.backgroundPosition = newvalueX + "px " + newvalueY + "px";

        }, false);

    }
</script>
<!--<div class="img">
    <div class="about-me">


        <h3>About me</h3>
        <h2>I'm a UX/UI Designer and Front End Developer from Gujarat, India.</h2>



        <h4>
            I am working as a web developer from last 2+ years
            I enjoy turning complex problems into simple, beautiful and intuitive interface designs. When I'm not coding or pushing pixels, you can find me in shopping malls, theatres, or holding camera and clicking selfies <br />
            you can be in touch with me on below links
        </h4>
    </div>

    <div class="me-links" oncontextmenu="return false">

        <a href="https://www.facebook.com/hiral.parmar.730" class="linker" target="_blank">
            <i class="fa fa-facebook fa-3x" aria-hidden="true" style="color: #3b5998" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></i>
            <i class="material-icons">call_made</i>
        </a>



        <a href="https://github.com/Hir06" class="linker" target="_blank">
            <i class="fa fa-github fa-3x" aria-hidden="true" style="color: #666666" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></i>
            <i class="material-icons">call_made</i>
        </a>


        <a href="https://www.linkedin.com/in/hiral-parmar-59735380/" class="linker" target="_blank">
            <i class="fa fa-linkedin fa-3x" aria-hidden="true" style="color: #0077b5" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></i>
            <i class="material-icons">call_made</i>

        </a>

        <a href="https://medium.com/@chin2km" class="linker" target="_blank">
            <i class="fa fa-medium fa-3x" aria-hidden="true" style="color: #82ffb5" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></i>
            <i class="material-icons">call_made</i>
        </a>




    </div>
</div>-->

<div class="row" ng-controller="meController as mvm">

    <div class="col-12">

        <div id="face" class="face">

            <a href="/portfolio">
                <div id="designer" class="designer" style="opacity: 1;">
                    <div id="designer-desc" class="description">
                        <h1>designer</h1>
                        <p>UI/UX Designer with a passion for designing beautiful and functional user experiences.</p>
                    </div>
                </div>
            </a>

            <a href="/about">
                <div id="coder" class="coder" style="opacity: 1;">
                    <div id="coder-desc" class="description">
                        <h1>&lt;coder&gt;</h1>
                        <p>Front End Developer who focuses on writing clean, elegant and efficient code.</p>
                    </div>
                </div>
            </a>

            <img id="face-img" class="face-img" src="../Images/Designer.jpg" alt="Hiral ui designer" ng-mouseover="mvm.changePos()">

            <div id="designer-img" class="designer-img" style="left: 100px; opacity: 1;"></div>
            <div id="coder-img" class="coder-img" style="right: 100px; opacity: 1;"></div>
            <div id="designer-bg" class="designer-bg" style="left: 100px; opacity: 1;"></div>
            <div id="coder-bg" class="coder-bg" style="right: 100px; opacity: 1;"></div>

        </div>

    </div>

</div>